---
import Layout from '@/layouts/Layout.astro'
import Navbar from '@/components/Navbar.astro'
import Hero from '@/components/Hero.astro'
import How from '@/components/How.astro'
import Where from '@/components/Where.astro'
import WhatIncludes from '@/components/WhatIncludes.astro'
import Activities from '@/components/Activities.astro'

// If is production, then the hide sections
const isProduction = import.meta.env.PROD
---

<Layout
  title="Surferss Wave - Viaja con Sofía a una experiencia única de surf"
  description="Viaje exclusivo al que solo se podrá acceder a través de las marcas Embajadoras de Surferss Wave. Surf, diversión, playa, fiestas y actividades con Sofía."
>
  <main class="w-full">
    <Navbar />
    <Hero />

    <!-- Secciones con placeholders que se implementarán después -->
    {!isProduction && <Where />}
    {!isProduction && <How />}
    {!isProduction && <WhatIncludes />}
    {!isProduction && <Activities />}

    {
      !isProduction && (
        <section
          id="inscripcion"
          class="min-h-screen py-24 px-6 md:px-8 bg-hero-gradient text-white"
        />
      )
    }
  </main>
</Layout>
