---
import { Image } from "astro:assets"
import HeroImage from "@/assets/sofia-surferrs-hero.png"
---

<section class="min-h-screen bg-hero-gradient text-white relative">
  <div
    class="flex flex-col md:flex-row items-center h-screen w-full max-w-7xl mx-auto px-6 lg:px-8"
  >
    <!-- Lado izquierdo - Imagen -->
    <div
      class="flex-1 flex justify-center items-center md:mb-0 mb-8 pt-24 md:pt-0"
    >
      <Image
        src={HeroImage}
        alt="Sofía con tabla de surf en la playa"
        class="w-full max-w-md rounded-3xl"
        width={500}
        height={650}
        loading="eager"
        format="webp"
      />
    </div>

    <!-- Lado derecho - Contenido -->
    <div
      class="flex-1 md:px-8 flex flex-col gap-8 md:items-start items-center justify-center text-center"
    >
      <img
        src="/logo-surferrss-wave.svg"
        alt="Surferss Wave Logo"
        class="w-48 mx-auto"
        width="252"
        height="256"
      />

      <div class="flex flex-col gap-4 md:text-left text-center">
        <h1
          class="text-primary text-3xl md:text-4xl lg:text-5xl leading-tight font-bebas text-center"
        >
          VIVE UNA EXPERIENCIA ÚNICA.<br />VIAJA JUNTO A SOFÍA Y SUS AMIGOS.<br
          />SURF, DIVERSIÓN, PLAYA, FIESTAS, DJS, ACTIVIDADES Y MUCHO MÁS
        </h1>
      </div>
    </div>
  </div>
</section>
