---
import { Image } from 'astro:assets'
import Section from '@/components/Section.astro'
import HowImage from '@/assets/sofia-surferss-snorkel.webp'
---

<Section
  id="como-ir"
  class="bg-[url('../assets/section-how-bg.webp')] bg-cover"
>
  <div class="md:flex w-full h-full md:items-center flex-col lg:flex-row">
    <div class="h-full w-full justify-between flex items-start">
      <div class="flex flex-col items-start justify-start">
        <span
          class="font-bebas md:w-[483px] md:text-4xl text-2xl text-[#202C38]"
        >
          ¿CÓMO PUEDO IR?
        </span>

        <span
          class="font-bebas md:w-[483px] md:text-5xl md:mr-5 text-3xl text-[#202C38] mt-10"
        >
          Un viaje exclusivo al que solo se podrá acceder a través de las marcas
          Embajadoras de Surferss Wave
        </span>
      </div>

      <Image
        src={HowImage}
        alt="Sofía con gafas de snorkel en la playa"
        loading="eager"
        width={150}
        height={650}
        format="webp"
        class="lg:hidden w-[clamp(150px,30vw,200px)] rounded-[40px] border-5 md:border-6 border-white"
      />
    </div>

    <!-- Imagen para desktop -->

    <Image
      src={HowImage}
      alt="Sofía con gafas de snorkel en la playa"
      loading="eager"
      width={500}
      height={650}
      format="webp"
      class="hidden lg:block max-w-[500px] min-w-[150px] rounded-[70px] border-7 border-white ml-auto"
    />
  </div>
</Section>
