---
import { Image } from 'astro:assets'
import LogoInfoJobs from '@/assets/logo-infojobs.svg'
import LogoCambiate from '@/assets/logo-cambiate.webp'
import LogoDeeply from '@/assets/logo-deeply.webp'
import LogoLatas from '@/assets/logo-latas.webp'
import LogoPrimark from '@/assets/logo-primark.webp'
import LogoSnatts from '@/assets/logo-snatts.webp'
import LogoTian from '@/assets/logo-tian.webp'

const sponsors = [
  {
    logo: LogoInfoJobs,
    name: 'InfoJobs',
    alt: 'Logo de InfoJobs',
    size: 'w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48',
  },
  {
    logo: LogoCambiate,
    name: 'Cámbiate',
    alt: 'Logo de Cámbiate',
    size: 'w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48',
  },
  {
    logo: LogoDeeply,
    name: 'Deeply',
    alt: 'Logo de Deeply',
    size: 'w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48',
  },
  {
    logo: LogoLatas,
    name: 'Latas',
    alt: 'Logo de Latas',
    size: 'w-32 h-32 md:w-28 md:h-28 lg:w-36 lg:h-36',
  },
  {
    logo: LogoPrimark,
    name: 'Primark',
    alt: 'Logo de Primark',
    size: 'w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48',
  },
  {
    logo: LogoSnatts,
    name: 'Snatts',
    alt: 'Logo de Snatts',
    size: 'w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48',
  },
  {
    logo: LogoTian,
    name: 'Tian',
    alt: 'Logo de Tian',
    size: 'w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48',
  },
]
---

<section class="py-12">
  <div class="max-w-7xl mx-auto px-6 lg:px-8">
    <div class="text-center mb-8">
      <h2 class="text-2xl md:text-3xl font-bebas text-primary mb-2">
        NUESTROS PATROCINADORES
      </h2>
    </div>

    <div class="flex flex-col gap-8">
      <div
        id="sponsors"
        class="grid grid-cols-4 gap-12 max-w-4xl mx-auto items-center justify-center w-full mx-auto"
      >
        {
          sponsors.map(sponsor => (
            <div class="flex justify-center items-center group hover:scale-110 transition-transform duration-300 ease-in-out">
              <Image
                src={sponsor.logo}
                alt={sponsor.alt}
                class={`max-w-full max-h-full object-contain filter transition-transform duration-300 ${sponsor.size}`}
                width={640}
                height={640}
                quality={95}
                format="webp"
                loading="lazy"
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  .group:hover .bg-white {
    transform: translateY(-2px);
  }

  #sponsors {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }
</style>
