<div
  class="flex items-end justify-center min-h-[420px] md:min-h-[620px] lg:min-h-[650px] w-full px-6 flex-col"
>
  <span class="font-bebas lg:text-6xl md:text-5xl text-2xl text-[#202C38]">
    ¿que incluye?
  </span>
  <span
    class="font-bebas lg:text-7xl md:mr-5 text-3xl md:text-6xl text-[#202C38] md:mt-15 mt-7 text-right"
  >
    alojamiento
    <br />
    desayunos, comidas y cenas
    <br />
    clases de surf
    <br />
    actividades
  </span>
  <span
    class="font-bebas lg:text-6xl text-1xl md:text-3xl md:mt-15 mt-7 text-[#202C38]"
  >
    *desplazamiento no incluido
  </span>
</div>
