---
import Section from '@/components/Section.astro'
---

<Section
  id="que-incluye"
  class="bg-[url('../assets/section-includes-bg.webp')]"
>
  <div class=`flex justify-center w-full flex-col items-end`>
    <h2 class="font-bebas md:text-3xl text-2xl text-secondary">
      ¿que incluye?
    </h2>
    <ul
      class="font-bebas lg:text-5xl text-3xl md:text-5xl text-secondary mt-7 text-right"
    >
      <li>alojamiento</li>
      <li>desayunos, comidas y cenas</li>
      <li>clases de surf</li>
      <li>actividades</li>
    </ul>
    <p class="font-bebas md:text-3xl text-2xl mt-7 text-secondary">
      *desplazamiento no incluido
    </p>
  </div>
</Section>
