---
import Section from '@/components/Section.astro'
---

<Section
  id="que-incluye"
  class="bg-[url('../assets/section-includes-bg.webp')]"
>
  <div class=`flex justify-center w-full flex-col  items-end`>
    <span class="font-bebas md:text-4xl text-2xl text-[#202C38]">
      ¿que incluye?
    </span>
    <span
      class="font-bebas lg:text-5xl text-3xl md:text-5xl text-[#202C38] mt-7 text-right"
    >
      alojamiento
      <br />
      desayunos, comidas y cenas
      <br />
      clases de surf
      <br />
      actividades
    </span>
    <span class="font-bebas md:text-4xl text-1xl mt-7 text-[#202C38]">
      *desplazamiento no incluido
    </span>
  </div>
</Section>
