---
import Section from '@/components/Section.astro'
---

<Section id="donde-es" class="bg-[url('../assets/section-where-bg.webp')]">
  <div
    class="flex justify-center w-full flex-col items-center text-white min-h-[500px] md:min-h-[600px] lg:min-h-[700px]"
  >
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bebas">¿DÓNDE ES?</h2>
    <p class="text-4xl md:text-5xl lg:text-6xl font-bebas">
      SOMO, CANTABRIA - LATAS SURF HOUSE
    </p>
  </div>
</Section>
