---
import Section from '@/components/Section.astro'
---

<Section
  id="donde-es"
  class="bg-[url('../assets/section-where-bg.webp')]"
  isWhereSection
>
  <div
    class="relative flex justify-center w-full flex-col items-center text-white h-full min-h-[500px] md:min-h-[600px] lg:min-h-[748px]"
  >
    <h2
      id="title-centered"
      class="text-3xl md:text-4xl lg:text-5xl font-bebas absolute left-1/2 -translate-x-1/2"
    >
      ¿DÓNDE ES?
    </h2>
    <p class="text-4xl md:text-5xl lg:text-6xl font-bebas absolute -bottom-40">
      SOMO, CANTABRIA - LATAS SURF HOUSE
    </p>

    <div id="ubi-button" class="flex gap-1 items-center absolute md:-bottom-10 justify-center -bottom-55 backdrop-blur-sm lg:backdrop-blur-lg border-2 border-white/30 bg-white/30 p-2 rounded-full">
      <img src="/map-icon.svg" class=" text-white text-xl" alt="">
      <a href="https://maps.app.goo.gl/mHVhmrviHiF2gwmi6" class="font-bold font-bebas md:text-xl">Ver en el mapa</a>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const titleCentered = document.getElementById('title-centered')!
      titleCentered.style.top = `${titleCentered.parentElement!.offsetHeight / 2 - 40}px`
    })
  </script>

  <style>
    #ubi-button {
      animation: shadow-spin infinite 5s ease-in-out;
    }

    @keyframes shadow-spin {
      0% {
        box-shadow: 0px 0px 10px 0px #ffffff3a;
      }
      
      50% {
        box-shadow: 0px 0px 70px 70px #ffffff3a;
      }

      100% {
        box-shadow: 0px 0px 10px 0px #ffffff3a;
      }
    }
  </style>
</Section>